{% extends "base.html" %}

{% block content %}

    <div class="post">

      <div class="post-heading">

        <div class="post-title">
          {{post.subject}}
        </div>

        <div class="post-date">
          {{post.created.strftime("%b %d, %Y")}}
        </div>

      </div>

      <div class="post-content">
        {{post.content | safe}}
      </div>

      <div class="post-user">
        Created by : {{ post.user.name }}
      </div>

    </div>

    {% if user %}
      <form method="post">
        <br>
        <button type="submit" class="btn btn-default" name="edit" id="edit" value="edit">Edit</button>
        <button type="submit" class="btn btn-default" name="delete" id="delete" value="delete">Delete</button>
        <button type="submit" class="btn btn-default" name="like" id="like" value="like">Like</button>
      </form>
      <span class="error">{{ error }}</span>
    {% endif %}

    <hr>

    <h2>Comments</h2>

    {% for comment in comments %}
    <form method="post">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-body">
              <strong>{{ comment.content }}</strong>
              <br>
              <span>Comment by {{ comment.author.name }} on {{ comment.created.strftime("%b %d, %Y") }}</span>
            </div>
          </div>
          <div class="col-md-12">
            {% if comment.author.name == user.name %}

                 <div class="row">
                  <div class="col-md-4 text-left">
                    <a class="btn btn-primary" href="/blog/{{ post.key().id() }}/{{ comment.key().id() }}/editcomment">Edit</a>
                  </div>
                  <div class="col-md-8 text-right">
                    <input type="hidden" name="commentToDelete" value="{{ comment.key().id() }}">
                    <button type="submit" class="btn btn-default" name="deleteComment" id="deleteComment" value="deleteComment">Delete Comment</button>
                  </div>
                </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </form>
    {% endfor %}
    <span class="error">{{ delete_error }}</span>


    {% if user %}
      <form method="post">
        <label>Add a Comment</label>
        <br>
        <textarea class="form-control" name="content" id="content"></textarea>
        <button type="submit" class="btn btn-default" name="comment" id="comment" value="comment">Add Comment</button>
      </form>
      <span class="error">{{ comment_error }}</span>

      {% endif %}

{% endblock %}
