{% extends "base.html" %}

{% block content %}

    <div class="post">

      <div class="post-heading">

        <div class="post-title">
          {{post.subject}}
        </div>

        <div class="post-date">
          {{post.created.strftime("%b %d, %Y")}}
        </div>

      </div>

      <div class="post-content">
        {{post.content | safe}}
      </div>

      <div class="post-user">
        Created by : {{ post.user.name }}
      </div>

    </div>

    {% if user %}
      <form method="post">
        <input type="submit" class="btn btn-default" name="edit" id="edit" value="Edit">
        <input type="submit" class="btn btn-default" name="delete" id="delete" value="Delete">
        <br>
        <button type="submit" class="btn btn-default" name="editButton" id="editButton">Edit Button</button>
        <button type="submit" class="btn btn-default" name="deleteButton" id="deleteButton">Delete Button</button>
      </form>
    {% endif %}

{% endblock %}
